
*.vsidx
*.v2
*.manifest
*.testlog
*.1
*.1
*.1
.vs/TestGFL/v17/.suo
.vs/TestGFL/v17/.suo
*.1
.vs/ProjectEvaluation/testgfl.metadata.v6.1
obj
bin
.vs
.vs
.vs/TestGFL/v17/.suo
.vs/ProjectEvaluation/testgfl.metadata.v6.1
